<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zjwam.zkw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ZkwApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/zkw_f"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/zkw_r"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.addinformation.AddStudentInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.addinformation.AddTeacherInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.addinformation.AddCompanyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.Video2PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.XGPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.login.LoginFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineIntegralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineNoteBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineShopCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.CourseAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.SetUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineCommentActivity"
            android:screenOrientation="portrait" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AdvertisementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pay.PayPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalcenter.MineLearnCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.more.WriteNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.more.CommmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.VideoAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.more.QuestionActivity"
            android:screenOrientation="portrait" />
        <!-- 微信回调页面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".personalcenter.PersonalMineAskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exam.ExamDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exam.ExamResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".exam.ExamRecordActivity"></activity>
    </application>

</manifest>